@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Lời giới thiệu</h1>
        <p class="lead">Dưới dây là các danh mục </p>
        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="healthBenefitsTitle">
            <h2 id="healthBenefitsTitle">Lợi ích cho sức khỏe</h2>
            <p>
                Sinh tố được làm từ các loại trái cây và rau củ tươi giàu vitamin, khoáng chất và chất chống oxy hóa, hỗ trợ cải thiện sức khỏe tim mạch, tăng cường hệ miễn dịch và giữ gìn làn da tươi trẻ.
            </p>
           
        </section>
        <section class="col-md-4" aria-labelledby="popularFlavorsTitle">
            <h2 id="popularFlavorsTitle">Hương vị phổ biến</h2>
            <p>Thưởng thức các hương vị sinh tố được yêu thích như dâu, xoài, cam, chuối và nhiều loại khác, được làm từ những nguyên liệu tự nhiên, tươi ngon.</p>
           
        </section>
        <section class="col-md-4" aria-labelledby="customMixTitle">
            <h2 id="customMixTitle">Tự tạo sinh tố của bạn</h2>
            <p>Tạo ra sinh tố yêu thích của riêng bạn với công thức cá nhân hóa. Kết hợp các loại trái cây và nguyên liệu yêu thích để tạo ra hương vị độc đáo.</p>
     
        </section>
    </div>
</main>